# 1.RIGHT ANGLE TRIANGLE PATTERN

In [25]:
for i in range (1,6):
    print(' A ' *i)

 A
 A  A
 A  A  A
 A  A  A  A
 A  A  A  A  A

# Inverted Right Angle Triangle Pattern

In [2]:
for i in range(5,0,-1):
    print(' sonu ' *i)

 sonu  sonu  sonu  sonu  sonu
 sonu  sonu  sonu  sonu
 sonu  sonu  sonu
 sonu  sonu
 sonu

# Pyramid pattern

In [3]:
for i in range (1,6):
    print (''*(5-i)+' * '*(2*i-1))

 *
 *  *  *
 *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *

# Inverted Pyramid Pattern

In [4]:
for i in range (5,0,-1):
    print(''*(5-i)+' * ' *(2*i-1))

 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *
 *  *  *
 *

# 5 Diamond PATTERN

In [5]:
for i in range (1,6):
    print(''*(5-i)+' * '*(2*i-1))
for i in range (4,0,-1):
    print(''*(5-i)+' * '*(2*i-1))

 *
 *  *  *
 *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *
 *  *  *
 *

# Hallow Squre Pattern

In [6]:
for i in range(5):
    for j in range(5):
        if i==0 or i==4 or j==0 or j==4:
            print('*',end=' ')
        else:
             print(' ', end=' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

# Full square pattern

In [7]:
for i in range(5):
    print(' * ' *5)

 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *

# Right Angle triangle (Number Pattren)

In [8]:
for i in range (1, 6):
    print(' '.join(str(x) for x in range(1, i + 1)))

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Inverted Right angle triangle (number pattern)

In [9]:
for i in range(5,0,-1):
    print(' '.join(str(x)for x in range(1,i+1)))

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

# Floyd's triangle

In [10]:
num=1
for i in range(1,6):
    for j in range(1,i+1):
        print(num,end=' ')
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

# Hallow Right Angle Triangle

In [11]:
for i in range(1,6):
    for j in range(1,i+1):
        if j==1 or j==i or i==5:
            print('*',end=' ')
        else:
            print(' ',end= ' ' )
    print()

*
* *
*   *
*     *
* * * * *

# Hallow Pyramid Pattern Pattern

In [12]:
for i in range(1, 6):
    for j in range(5 - i):
        print(' ', end=' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2 or i == 5:
            print('*',end=' ')
        else:
            print(' ', end=' ')
    print()

        *
      *   *
    *       *
  *           *
* * * * * * * * *

# 14 Hallow Diamond (number pattern)

In [13]:
n = 5
for i in range(1, n + 1):
    for j in range(n - i):
        print(' ', end=' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2:
            print(i, end=' ')
        else:
            print(' ', end=' ')
    print()

for i in range(n - 1, 0, -1):
    for j in range(n - i):
        print(' ', end=' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2:
            print(i, end=' ')
        else:
            print(' ', end=' ')
    print()

        1
      2   2
    3       3
  4           4
5               5
  4           4
    3       3
      2   2
        1

In [14]:
n = 5
for i in range(1, n + 1):
    for j in range(n - i):
        print(' ', end=' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

for i in range(n - 1, 0, -1):
    for j in range(n - i):
        print(' ', end=' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *

# 15 Butterfly Pattern

In [15]:
n = 5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    for j in range(2 * (n - i)):
        print(' ', end=' ')
    for j in range(1, i + 1):
        print(j, end=' ')
    print()
for i in range(n, 0, -1):
    for j in range(1, i + 1):
        print(j, end=' ')
    for j in range(2 * (n - i)):
        print(' ', end=' ')
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

1                 1
1 2             1 2
1 2 3         1 2 3
1 2 3 4     1 2 3 4
1 2 3 4 5 1 2 3 4 5
1 2 3 4 5 1 2 3 4 5
1 2 3 4     1 2 3 4
1 2 3         1 2 3
1 2             1 2
1                 1

In [16]:
n = 5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print('*', end=' ')
    for j in range(2 * (n - i)):
        print(' ', end=' ')
    for j in range(1, i + 1):
        print('*', end=' ')
    print()
for i in range(n, 0, -1):
    for j in range(1, i + 1):
        print('*', end=' ')
    for j in range(2 * (n - i)):
        print(' ', end=' ')
    for j in range(1, i + 1):
        print('*', end=' ')
    print()

*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

In [17]:
n = 5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print('*', end=' ')
    for j in range(2 * (n - i)):
        print(' ', end=' ')
    for j in range(1, i + 1):
        print('*', end=' ')
    print()
for i in range(n, 0, -1):
    for j in range(1, i + 1):
        print('*', end=' ')
    for j in range(2 * (n - i)):
        print(' ', end=' ')
    for j in range(1, i + 1):
        print('*', end=' ')
    print()

n = 5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    for j in range(2 * (n - i)):
        print(' ', end=' ')
    for j in range(1, i + 1):
        print(j, end=' ')
    print()
for i in range(n, 0, -1):
    for j in range(1, i + 1):
        print(j, end=' ')
    for j in range(2 * (n - i)):
        print(' ', end=' ')
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *
1                 1
1 2             1 2
1 2 3         1 2 3
1 2 3 4     1 2 3 4
1 2 3 4 5 1 2 3 4 5
1 2 3 4 5 1 2 3 4 5
1 2 3 4     1 2 3 4
1 2 3         1 2 3
1 2             1 2
1                 1

# PARAMID

# Hallow Number Pyramid

In [18]:
n = 5
for i in range(1, n + 1):
    for j in range(n - i):
        print(' ', end=' ')


    for j in range(1, 2 * i):
        if j == 1 or j == 2 * i - 1 or i == n:
            print(i, end=' ')
        else:
            print(' ', end=' ')
    print()

        1
      2   2
    3       3
  4           4
5 5 5 5 5 5 5 5 5

In [19]:
n = 5
for i in range(1, n + 1):
    for j in range(n - i):
        print(' ', end=' ')

    for j in range(1, 2 * i):
        if j == 1 or j == 2 * i - 1 or i == n:
            print(i, end=' ')
        else:
            print(' ', end=' ')
    
    print()  # move this outside the inner loop

        1
      2   2
    3       3
  4           4
5 5 5 5 5 5 5 5 5

# Full Star Pyramid

In [20]:
n=5

for i in range(1,n+1):

    for j in range(n-i):
        print(' ', end=' ')

    for j in range(2*i-1):
        print('*', end=' ')

    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

# Inverted Full Star Pyramid

In [21]:
n = 5

for i in range(n, 0, -1):

    for j in range(n - i):
        print(' ', end=' ')

    for j in range(2 * i - 1):
        print('*', end=' ')
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

# Left Aligned Pyramid Pattern

In [22]:
n = 5

for i in range(1, n + 1):

    for j in range(i):
        print('*', end=' ')
    print()


n = 5

for i in range(1, n + 1):

    for j in range(1, i + 1):
        print(j, end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [23]:
n = 5

for i in range(1, n + 1):
    for j in range(n-i):
        print(' ', end=' ')

    for j in range(1, i + 1):
        print(j, end=' ')

    print()

n = 5

for i in range(1, n + 1):

        for j in range(n - i):
            print(' ', end=' ')

        for j in range(i):
            print('*', end=' ')
        print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5
        *
      * *
    * * *
  * * * *
* * * * *

# THANKY YOU

In [27]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [29]:
for i in range(10):
    if i == 2:
        continue
    print(i)

0
1
3
4
5
6
7
8
9

In [30]:
for i in range(5):
    print(i)
else:
    print("Loop finished without break")

0
1
2
3
4
Loop finished without break

In [32]:
for i in range(5):
    if i == 3:
        continue
    print(i)
else:
    print("Will not print because loop was broken")

0
1
2
4
Will not print because loop was broken