In [1]:
if True:
    print('hello')

hello

In [2]:
if True:
    print('Swati')

Swati

In [3]:
if True:
print('hello')

IndentationError: expected an indented block after 'if' statement on line 1 (1785633973.py, line 2)

In [ ]:
if True:
    print('hello')

In [ ]:
if False:
    print('bye')

In [ ]:
if True:
    print('hello')
print('how are you')

In [ ]:
if False:
    print('Data Science')

print('bye for now')

In [ ]:
if False:
    print('Data Science')
else:
    print('bye for now')

# Write python first code and check even or odd number

In [ ]:
x = 4

r = x%2

if r == 0:
    print('Even number')

In [ ]:
x = 6

r = x%2

if r == 0:
    print('Even number')

In [ ]:
x = 6

r = x % 2

if r == 0:
    print('Even number')
else:
    print('odd number')

In [ ]:
x = 6

r = x%2

if r == 0:
    print('Even number')
print('odd number')

In [ ]:
x = 4

r = x % 2

if r == 0:  print('Even number')
else:print('odd number')

In [ ]:
x = 10
r = x % 2 

if r == 0:
    print('Even number')
if r == 1:
    print('odd number')

In [ ]:
x = 9
r = x % 2 

if r == 0:
    print('Even number')
    
if r != 0:
    print('odd number')

# nested if

In [ ]:
x = 3
r = x % 2

if r == 0:
    print('Even number')
    if x>5:
        print('greater number')
  
else:
    print('Odd Number')

In [ ]:
x = 6
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
    else:
        print('smaller number')
  
else:
    print('Odd Number')

In [ ]:
x = 4

if x == 1:
    print('one')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('four')

In [ ]:
x = 2

if x == 1:
    print('one')
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

In [ ]:
x = 10

if x == 1:
    print('one')
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

In [ ]:
x = 10

if x == 1:
    print('one')
    
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

else:
    print('number not found')

In [ ]:
num = int(input("Enter a number: "))

if num > 0:
 print("Positive")
elif num < 0:
 print("Negative")
else:
 print("Zero")

In [ ]:
age = 20
if age >= 18:
    print("Eligible to vote.")

In [ ]:
age = 19
if age > 18: print("Eligible to Vote.")

In [ ]:
age = 10

if age <= 12:
    print("Travel for free.")
else:
    print("Pay for ticket.")

In [ ]:
age = 10

if age <= 12:
    print("Travel for free.")
else:
    print("Pay for ticket")

In [ ]:
marks = 45

res = "pass" if marks >= 40 else "Fail"

print(f"Result: {res}")

In [ ]:
age = 25

if age <= 12:
    print("Child")
elif age <= 19:
    print("Teenager")
elif age <= 35:
    print("Young adult")
else:
    print("Adult")

In [ ]:
age = 70
is_member = True

if age >= 60:
    if is_member:
        print("30% senior discount!")
    else:
        print("20% senior discount!")
else:
    print("Not eligible for a senior discount")

In [ ]:
# Assign a value based on a condition
age = 20
s = "Adult" if age >= 18 else "Minor"

print(s)

In [ ]:
number = 2

match number:
     case 1:
         print("One")
     case 2 | 3:
         print("Two or Three")
     case _:
         print("Other number")

In [ ]:
i = 10

# Checking if i is greater than 15
if (i > 15):
    print("10 is less than 15")

print("I am Not in if")

In [ ]:
i = 20

# Checking if i is greater than 0
if (i > 0):
    print("i is positive")
else:
    print("i is 0 or negative")

In [ ]:
a = -2

# Ternary conditinal to check if number is positive or negative

res = "Positive" if a >= 0 else "Negative"

print(res)

In [ ]:
age = 25
exp = 10

# Using '>' operator & 'and' with if-else
if age > 23 and exp > 8:
    print("Eligible.")
else:
    print("Not eligible.")

In [ ]:
i = 10
if (i == 10):

    # Fist if statement 
    if (i < 15):
        print("i is smaller than 15")


     # nested = if statement
     # Will only be executed if stmt above
     #it is true

    if (i < 12):
        print("i is smaller than 12 too")
    else:
        print("i is greater than 15")

else:
    print("i is not equal to 10")

In [ ]:
i = 25

 # Checking if i is equal to 10
if (i == 10):
    print("i is 10")
 # Checking if i is equal to 15

elif (i == 15):
    print("i is 15")
 # Checking if i is equal to 20

elif (i == 20):
    print("i is 20")
    
 # If none of the above conditions are true
else:
    print("i is not present")

In [ ]:
# if stmt example

if 10 > 5:
    print(" 10 greater than 5")

print(" program ended")

In [ ]:
# if .. else stmt example

x = 3
if x == 4:
    print("Yes")

else:
    print("No")

In [ ]:
# if .. else chain stmt

letter = "A"

if letter == "B":
    print("letter is B")

else:

    if letter == "C":
        print("letter is C")

    else:

       if letter == "A":
          print("letter is A")
       else:
         print("letter isn't A, B and C")

In [ ]:
# nested if stmat example 

a = 10

if a > 5:
    print("Bigger than 5")

    if a <= 15:
        print("Between 5 and 15")

In [ ]:
# if-elif statement example
letter = "A"

if letter == "B":
    print("letter is B")

elif letter == "C":
    print("letter is C")

elif letter == "A":
    print("letter is A")

else:
    print("letter isn't A, B or C")

In [ ]:
x = 10
y = 5
if x > 5:
    if y > 5:
        print("x is greater than 5")
    elif y==5:
         print("x is greater than 5 and y is 5")
    else:
        print("x is greater than 5 and y is less than 5")

# LOOP'S

In [ ]:
print('data science')
print('data science')
print('data science')
print('data science')    
print('data science')

In [ ]:
i = 1          # initializing

while i<=5:    # condition
    print('data science')
    i = i + 1  # increment

In [ ]:
i = 5          # initializing

while i>=1:    # condition
    print('data science')
    i = i - 1  # decrement

In [ ]:
i = 1         # initializing
while i<=5:    # condition
    print('data science : ', i)
    i = i + 1  # increment

In [ ]:
i = 5          # initializing
while i>=1:    # condition
    print('data science :',i)
    i = i - 1  # decrement

In [ ]:
I = 1

while i<=5:
    print('data science') # when we mention end then new line will not create
    j=1
    while j<=4:
        print('techonology')
        j=j+1
    i = i+1
    print()

# The output which we got is very lengty but how to make them one line lets to below code

In [ ]:
i = 1
while i<=5:
    print(' datascience', end = "")
    j = 1 
    while j<=4:
        print(' techonology',end="")
        j = j + 1
    i = i + 1
    print()

In [ ]:
# lests use while loops using some numbers
i = 1

while i <= 2 :
    j = 0
    while j <= 2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

In [ ]:
i = 1
while i <= 4:
    j = 0
    while j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

In [ ]:
name = 'nit'

for i in name:
    print(i)

In [ ]:
name1 = [1,3,5,'hallo']

for i in name1:
    print(i)

In [ ]:
for i in [2,3, 7.8, 'hi']:
    print(i)

In [ ]:
range(5)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
for i in range(2,5):
    
    print(i)

In [ ]:
for i in range (1,10,3):
    print(i)

In [ ]:
# print the value which is divisible by 5 
for i in range(1,21):
    print(i)

In [ ]:
# print the value which is divisible by 5 

for i in range(1,51):
    
    if i%5==0 :
        print(i)

In [ ]:
# print the value which is divisible by 5 i dont want that value 
for i in range(1,51):
    
    if i%5!=0 :
        print(i)

In [ ]:
# Write the code user ask chocklet from machine write the basic code
ava = 5
x = int(input('How many choclets you want:?' ))

i = 1
while i<=x:
    print('choclet')
    i += 1

In [ ]:
ava = 5 # the machine has only 5 choclet 

x = int(input('How many choclets you want:?'))

i = 1
while i<=x:
    print('choclet')
    i += 1

In [ ]:
available_choclet = 5 # the machine has only 10 candis 

x = int(input('How many choclets user want:?'))

i = 1
while i<=x:
    
    if i>available_choclet: # we stop the execution but which code execution not entire code , i want to come out of while loop 
        break # break is statement | means jump out of the loop
    print('choclet')
    i += 1   
    
print('bye for now')

In [ ]:
available_choclet = 5 # the machine has only 10 candis 

x = int(input('How many choclets you want:?'))

i = 1
while i<=x:
    
    if i>available_choclet: # we stop the execution but which code execution not entire code , i want to come out of while loop 
        print('out of stock')
        break # break is statement | means jump out of the loop
    print('choclet')
    i += 1   
    
print('bye for now')

In [ ]:
for i in range(1,11):
    print(i)

In [ ]:
for i in range(1,11):
    if i == 6:
       break 
    print(i)

In [ ]:
for i in range(1,11):
    if i == 3:
        continue 
    print(i)

In [ ]:
for i in range(1,11):
    if i == 6:
        continue  
    print('hello :',i)

In [ ]:
for i in range(1,11):

In [ ]:
for i in range(1,11):
    pass

In [ ]:
for i in range(1,51):
    
    if i%3 == 0:
    
        print(i)
print('end')

In [ ]:
for i in range(1,51):
    
    if i%3 == 0:
        continue
    print(i)
print('end')

In [ ]:
for i in range(1,51):
    
    if i%3 == 0 or i%5 == 0:
        continue
    print(i)
#print('end')    
# it will skip all the value which is divisible by 3 or 5

In [ ]:
for i in range(1,50):
    if i%3 == 0 or i%5 == 0:
        continue
    print(i)
print('end')    
# when you apply and you wont get the value which is divisible by both 3 & 5 (15)

In [ ]:
# i dont want to print the values which are even numbers that means print only odd numbers

for i in range(1,51):
    
    if (i%2 == 0):
        #print('even')
        continue
    else:
        print(i)
print('bye')

# PRINTING PATTERN IN PYTHON

In [ ]:
![image.png](attachment:image.png)

In [ ]:
print('# # # #')
print('# # # #')
print('# # # #')
print('# # # #')

In [ ]:
for i in range(1,5):
    i=i+1
    print('# # # # ')

In [ ]:
for i in range(1,5):
    if i<=5:
        print('# # # #')

In [ ]:
for j in range(4):
    print('#')

In [ ]:
for j in range(4):
    print('# # # #')

In [ ]:
for j in range(4):
    print('#', end = " ")

In [ ]:
for j in range(4):
    print('#', end=" ")

for j in range(4):
    print('#', end=" ")

In [ ]:
for j in range(4):
    print('#', end=" ")
    
print()
    
for j in range(4):
    print('#', end=" ")

In [ ]:
for j in range(4):
    print('#', end="  ")
    
print()

for j in range(4):
    print('#', end="  ")

print()

for j in range(4):
    print('$', end="  ")
    
print()

for j in range(4):
    print('#', end="  ")

In [ ]:
for i in range(4):
    for j in range(4):
        print('#', end="  ")
    print()
    # pease use debug mode in pycharm

In [ ]:
for i in range(4):
    for j in range(i+1):
        print('$', end = " ")
    print()

In [ ]:
for i in range(1,5):
    print("# "*i)

In [ ]:
for i in range(1,5):
    for j in range(4):
        if i>j:
            print("#",end=" ")
    print()

In [ ]:
list(range(5))

In [ ]:
for i in range(4):
    for j in range(i):
        print('#', end="  ")
    print()

In [ ]:
for i in range(4):
    for j in range(i+1):
        print('#', end="  ")
    print()

In [ ]:
for i in range(4):
    for j in range(4-i):
        print('#', end="  ")
    print()

In [ ]:
for i in range(1,5):
    print("# "*(5-i))

# FOR ELSE

In [ ]:
nums = [12,15,18,21,26,30,40]

for num in nums:
    if num % 3 == 0:
        print(num)

In [ ]:
nums = [12,14,18,21,25,30,35]

for num in nums:
    if num % 5 == 0:
        print(num)

In [ ]:
nums = [12,14,18,21,25,20]

for num in nums:
    if num % 5 == 0:
        print(num)

In [ ]:
nums = [12,14,18,21,20,25]

for num in nums:
    if num % 5 == 0:
        print(num)
        break

In [ ]:
nums = [12,14,18,21,20,25]

for num in nums:
    if num % 5 == 0:
        print(num)  
        break

In [ ]:
nums = [10,14,18,21,5,10]

for num in nums:
    if num % 5 == 0:
        print(num)
        break

In [ ]:
nums = [7,14, 18, 21,23,27]

for num in nums:
    if num % 5 == 0:
        print(num)
        break

In [ ]:
nums = [7,14,18,21,23,27,29] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        break
    else:
        print('Number Not Found') #every iteration it cheking condition

In [ ]:
nums = [7,14]

for num in nums:
    if num % 5 == 0:
        print(num)
        break
    else:
        print('Number Not Found')

In [ ]:
nums = [7,14,18,21,23,27]

for num in nums:
    if num % 5 == 0:
        print(num)
        break
else:
    print('Not  Found')

In [ ]:
nums = [10,14,18,21,20,27,30] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        #break
else:
        print('Not Found')

# PRIME NUMBER

In [ ]:
num = 19

for i in range(2,num):
    if num % i == 0:
        print('Not Prime Number')
        break
else:
    print('Prime Number')

In [ ]:
num = 14

for i in range(2,num):
    if num % i == 0:
        print('Not Prime Number')
        break
else:
    print('Prime Number')

# ARRAY IN PYTHON

In [ ]:
from array import *
arr = array('i',[])

n = int (input('Enter the length of the array'))

for i in range(5):
    x = int (input('Enter the next value'))
    arr.append(x)
print(arr)

In [ ]:
from array import * 
arr = array('i',[])

n = input('Enter the length of the array')

for i in range(5):
    x = input('Enter the next value')
    arr.append(x)
print(arr)

In [ ]:
from numpy import * 
arr = array ([1,2,3,4,5])
print(arr)
type(arr)

In [ ]:
print(arr.dtype)

In [ ]:
arr = array ([1,2,3,4,5,9])
print(arr)

In [ ]:
print(arr.dtype)

In [ ]:
arr2 = array([1,2,3,4,5,9],float)
arr2

In [ ]:
arr3 = array([1,2,3,4,5,9],int)
arr3

In [ ]:
import numpy as np

In [ ]:
arr4 = np.linspace(0, 16, 10)
arr4

In [ ]:
import tkinter as tk
# Function to be called when the button is clicked
def on_button_click():
    label.config(text="Button clicked!")

# Create the main application window
root = tk.Tk()
root.title("Simple Tkinter App")

# Create a label widget
label = tk.Label(root, text="Hello, Tkinter!")
label.pack(pady=20)

# Create a button widget
button = tk.Button(root, text="Click Me", command=on_button_click)
button.pack(pady=20)

# Run the application
root.mainloop()

In [ ]:
import tkinter as tk
from tkinter import messagebox

# Function to be called when the button is clicked
def on_button_click():
    user_input = entry.get()
    messagebox.showinfo("Information", f"You entered: {user_input}")

# Create the main application window
root = tk.Tk()
root.title("Simple Tkinter App")

# Create a label widget
label = tk.Label(root, text="Enter something:")
label.pack(pady=10)

# Create a text entry widget
entry = tk.Entry(root, width=30)
entry.pack(pady=10)

# Create a button widget
button = tk.Button(root, text="Submit", command=on_button_click)
button.pack(pady=10)

# Run the application
root.mainloop()