# TUPLE

In [3]:
t = ()# empty tuple
t

()

In [4]:
type(t)

tuple

In [1]:
t2=(10,20,30) # int num
t2

(10, 20, 30)

In [6]:
sbi=('swati',123456789,'swam89',345789)
sbi

('swati', 123456789, 'swam89', 345789)

In [2]:
t3=(10.77,30.66,60.89) # float num
t3

(10.77, 30.66, 60.89)

In [3]:
t4=('one','two',"three") # string num
t4

('one', 'two', 'three')

In [2]:
t5=('swati',25,(50,100),(150,90)) #nested tuple
t5

('swati', 25, (50, 100), (150, 90))

In [6]:
t6=(100,'asif',17.765) #tuple of mixed data type
t6

(100, 'asif', 17.765)

In [7]:
t7=('asif',25,[50,100],[150,90],{'John','David'},(99,22,33))
t7

('asif', 25, [50, 100], [150, 90], {'David', 'John'}, (99, 22, 33))

In [8]:
len (t7) # length of list

6

# tuple indexing

In [9]:
t2[0] # retrive first element of the tuple

10

In [10]:
t4[0] # retrive firstbelement of the tuple

'one'

In [11]:
t4[0][0] # nested indrxing access the first character of the first tuple element

'o'

In [12]:
t4[-1] # last item of the tuple

'three'

In [3]:
t5[-1] #last item of tuple

(150, 90)

# tuple slicing

In [6]:
mytuple=('one','two','three','four','five','six','seven','eight','nine')

In [16]:
mytuple[0:3] # return all item from 0th to 3rd index locatin excluding the item

('one', 'two', 'three')

In [17]:
mytuple[2:5] #list all item 2nd to 5th index location

('three', 'four', 'five')

In [18]:
mytuple[:3] # return first three otem

('one', 'two', 'three')

In [19]:
mytuple[:2] # return first three item

('one', 'two')

In [20]:
mytuple[-3:] # return last three item

('seven', 'eight', 'nine')

In [21]:
mytuple[-2:] #return last two item

('eight', 'nine')

In [22]:
mytuple[-1] #return last item

'nine'

In [23]:
mytuple[:] # return whole number

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

 # remove & change items

In [24]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

In [25]:
del mytuple[0] # tuple are immutale which means we can't DELETE tuple item

TypeError: 'tuple' object doesn't support item deletion

In [26]:
mytuple[0] = 1 #can't not change tuple item

TypeError: 'tuple' object does not support item assignment

In [27]:
del mytuple # deleting entire tuple

# loop through a tuple

In [10]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

In [32]:
for i in mytuple:
    print (i)

one
two
three
four
five
six
seven
eight
nine

In [33]:
for i in enumerate(mytuple):
    print (i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')
(8, 'nine')

# Tuple membership

In [8]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

In [9]:
'one' in mytuple #check if 'one'exist in the list

True

In [36]:
'ten' in mytuple #check if 'ten'exist in the list

False

In [38]:
if 'three' in mytuple:#check if 'three'exist in the list
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [7]:
if 'eleven'in mytuple: # check if 'eleve' exist in the list
    print ("eleven is present in the tuple")
else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

# index position

In [11]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

In [12]:
mytuple.index('one') # index of first element equal to 'one'

0

In [13]:
mytuple.index('five') #index of first element

4

In [15]:
mytuple1=('one','two','three','four','one','one','two','three')

In [16]:
mytuple1.index('one') # index of first element equal to'one'

0

# sorting

In [17]:
mytuple2=(43,67,99,12,6,90,67)

In [18]:
sorted(mytuple2) #returns a new sorted list doesn't change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [20]:
sorted(mytuple2, reverse=True) # sort in desending order

[99, 90, 67, 67, 43, 12, 6]

In [1]:
t=() # empty tuple

In [2]:
tup2=(10,30,60) # tuple int numbers

In [3]:
tup3=(10.3,14.5,3.5,4.5) # tuple float numbers

In [5]:
tup4=('one','two',"three") # tuple string

In [18]:
tup5=('swati',23,(50,100),(150,90)) #nested tuple

In [7]:
tup6=(100,'swati',17.500)  # tuple of mixed data types

In [8]:
tup7=('swati',25,[50,100],[150,90],{'swati','sneha'},(99,33,22))

In [9]:
len(tup7) # lengh of list

6

 # Tuple Indexing

In [11]:
tup2[0] # recieve first element of the tuple

10

In [12]:
tup4[0] # receive first element of the tuple

'one'

In [13]:
tup4[0][0] # nested indexing

'o'

In [14]:
tup4[-1] # last indexing of the tuple

'three'

In [19]:
tup5[-1] # last item of the tuple

(150, 90)

In [21]:
tup6[2] # third numbers of the indexing

17.5

# Tuple Slicing